{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1 class="uk-text-center">Register</h1>
    {{ form_start(registrationForm, {'attr': {'class': 'uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large'}}) }}
        {{ form_row(registrationForm.sex, {'attr':{'placeholder': "Text to translate"},'attr' : {'class': 'uk-text-center' }}) }}
        {{ form_row(registrationForm.name, {'label': 'Name','label_attr': {'class': 'uk-margin uk-form-label'},'attr' : {'class':'uk-input'}}) }}
        {{ form_row(registrationForm.first_name, {'label': 'First Name','label_attr': {'class': 'uk-margin uk-form-label'},'attr' : {'class':'uk-input'}}) }}
        {{ form_row(registrationForm.email, {'label': 'Email','label_attr': {'class': 'uk-margin uk-form-label'},'attr' : {'class':'uk-input'}}) }}
        {{ form_row(registrationForm.plainPassword, {'label': 'Password','label_attr': {'class': 'uk-margin uk-form-label'},'attr' : {'class':'uk-input'}}) }}
        {{ form_row(registrationForm.birthday, {'label': 'Birthday','label_attr': {'class': 'uk-margin uk-form-label'},'attr' : {'class': 'uk-input' }}) }}
        {{ form_row(registrationForm.agreeTerms) }}

    <button class="uk-button uk-button-primary uk-margin uk-width-1-1">{{ button_label|default('Save') }}</button>
    {{ form_end(registrationForm) }}
{% endblock %}
